<div class="jumbotron">
  <h1 class="text-center">Envio de Mensagens</h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <form>
        <div class="input-group">
          <div>
            <div class="row">              
              <div class="col-sm-12">
                <input id="teste2" ngui-auto-complete [formControl]="userFromControl" [source]="users" [list-formatter]="autocompleListFormatter" value-property-name="id"
                  display-property-name="name" placeholder="Remetente" class="form-control">
              </div>
            </div>


            <br/>

            <div class="row">
              <div class="col-sm-12">
                <input id="teste1" ngui-auto-complete [formControl]="userToControl" [source]="users" [list-formatter]="autocompleListFormatter" value-property-name="id"
                  display-property-name="name" placeholder="Destinatário" class="form-control">
              </div>
            </div>

            <br/>

            <div class="col-md-12">
              <textarea [(ngModel)]="message.text" name="text" cols="30" rows="10"></textarea>
            </div>

            <button type="submit" (click)="onClickSend()">Submit</button>
          </div>
        </div>
      </form>
    </div>
    <!-- fim col-md-12 -->
  </div>
  <!-- fim row -->
</div>